.logo {
    padding: 100px;
    font-family: sans-serif;
    color: aliceblue;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px white;
    padding: 10px;
}

.text {
    padding: 100px;
    font-family: sans-serif;
    color: aliceblue;
}

#after-completion {
    visibility: hidden;
}

.card-img-top {
    height: 50px;
    width: 50px;
    margin: 50px;
}

#northernLights {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.quiz {
    color: aliceblue;
    padding: 120px;
    right: 200px;
    border: 3px black;
}